.authenticatedForm {
    background-color: rgb(235, 235, 241);
    color: rgb(10, 10, 10);
    width: 30%;
    height: 30%;
    margin: 15px;
    margin-top: 115px;
    margin-bottom: 120px;



}

.authenticatedPage {

    background-color: rgb(211, 195, 238);

}

.authenticated-center-container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Set a height to center vertically within the viewport */
}


.sign {
    font-size: 14px;
    color: rgb(70, 68, 68);
}

.button {
    background-color: rgb(36, 36, 181);
    color: #ffffff;
    width: 100px;


    transition: background-color 0.3s ease;
    /* Smooth transition effect */

    /* Add additional styling if needed */
    border: none;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(169, 9, 23);
    /* Change the background color on hover */
}

.text-color1 {
    color: rgb(114, 115, 116);

}
.back{
    margin-left: 5%;
}
.text-color {
    color: rgb(36, 36, 181);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.img {
    max-width: 150px;
    /* Ensure the image doesn't exceed its original size */
    max-height: 100px;
    /* Ensure the image doesn't exceed its original size */
}

.eyeiconAuth {
    margin-left: 380px;
    margin-top: -50px;
}